In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\sudha\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sudha\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sudha\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\sudha\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\sudha\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
import pandas as pd

In [7]:
data1=[10,20,30,40]  # 1D data
print(data1)
d1=pd.Series(data1)
d2=pd.DataFrame(data1)
print(d1)
print(d2)
print(type(d1))

[10, 20, 30, 40]
0    10
1    20
2    30
3    40
dtype: int64
    0
0  10
1  20
2  30
3  40
<class 'pandas.core.series.Series'>

In [8]:
data3=[(10,30),(20,40),(30,50)]
d3=pd.Series(data3)
d3

0    (10, 30)
1    (20, 40)
2    (30, 50)
dtype: object

In [9]:
data4=["Hi","How","are", "you?"]
d4=pd.Series(data4)
# d4
print(d4)
# d5=pd.Series(data4, index=[1.0,2.0,3.0,4.0])
d5=pd.Series(data4, index=[1.0,2.0,3.0,4.0])
d5#index is a label or an identifier for each row

0      Hi
1     How
2     are
3    you?
dtype: object

1.0      Hi
2.0     How
3.0     are
4.0    you?
dtype: object

In [10]:
index_na=['A','B','C','D']
d5=pd.Series(data4,index=index_na) # or
#d5=pd.Series(data4,index=['A','B','C','D'])
print(d5)

A      Hi
B     How
C     are
D    you?
dtype: object

In [11]:
#Data frame is a 
#It can store the values in tabular manner. The syntax for creating a dataframe is --- pd.DataFrame

In [12]:
data6=[(11,12,13,14,25,26),(21,43,42,13,34),(42,36,41,37,43,53)]
d6=pd.DataFrame(data6)
d6

    0   1   2   3   4     5
0  11  12  13  14  25  26.0
1  21  43  42  13  34   NaN
2  42  36  41  37  43  53.0

In [13]:
empty_df=pd.DataFrame()

In [14]:
data7=[('Virat Kohli', 20000, 85,63,10),('Virat Kohli', 25000, 85,63,10),('Virat Kohli', 20000, 85,63,10),('Virat Kohli', 20000, 85,63,10),('Virat Kohli', 20000, 85,63,10)]
d7=pd.DataFrame(data7, columns=['Player_Name', 'Score', 'No.of 100', 'No.of 50', 'No.of 0'],index=[1,2,3,4,5])
print(d7)
print(type(d7))

   Player_Name  Score  No.of 100  No.of 50  No.of 0
1  Virat Kohli  20000         85        63       10
2  Virat Kohli  25000         85        63       10
3  Virat Kohli  20000         85        63       10
4  Virat Kohli  20000         85        63       10
5  Virat Kohli  20000         85        63       10
<class 'pandas.core.frame.DataFrame'>

In [18]:
print(d7['Player_Name'])
print(d7['Score'])
print(d7['No.of 100'])

1    Virat Kohli
2    Virat Kohli
3    Virat Kohli
4    Virat Kohli
5    Virat Kohli
Name: Player_Name, dtype: object
1    20000
2    25000
3    20000
4    20000
5    20000
Name: Score, dtype: int64
1    85
2    85
3    85
4    85
5    85
Name: No.of 100, dtype: int64

In [19]:
d7.to_csv('Player Database.csv', header=True, index=False)
print(d7.get('Player_Name'))
# filtered_df=d7.query('Score >20000') #.query() is used to filter or find rows(data) based on condition 
df=d7.query('Score == 20000')
df

1    Virat Kohli
2    Virat Kohli
3    Virat Kohli
4    Virat Kohli
5    Virat Kohli
Name: Player_Name, dtype: object

   Player_Name  Score  No.of 100  No.of 50  No.of 0
1  Virat Kohli  20000         85        63       10
3  Virat Kohli  20000         85        63       10
4  Virat Kohli  20000         85        63       10
5  Virat Kohli  20000         85        63       10

In [22]:
pip install numpy
pip install scipy
pip install matplotlib
pip install seaborn

SyntaxError: invalid syntax (324474544.py, line 1)

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\sudha\anaconda3\lib\site-packages (0.11.2)
Requirement already satisfied: pandas>=0.23 in c:\users\sudha\anaconda3\lib\site-packages (from seaborn) (1.4.4)
Requirement already satisfied: scipy>=1.0 in c:\users\sudha\anaconda3\lib\site-packages (from seaborn) (1.9.1)
Requirement already satisfied: numpy>=1.15 in c:\users\sudha\anaconda3\lib\site-packages (from seaborn) (1.21.5)
Requirement already satisfied: matplotlib>=2.2 in c:\users\sudha\anaconda3\lib\site-packages (from seaborn) (3.5.2)
Requirement already satisfied: packaging>=20.0 in c:\users\sudha\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\sudha\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: cycler>=0.10 in c:\users\sudha\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sudha\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (4.25.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sudha\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sudha\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (1.4.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sudha\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (9.2.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sudha\anaconda3\lib\site-packages (from pandas>=0.23->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\sudha\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [24]:
df=sns.load_dataset("Player Database")
#print(df.head())#gives plain text
df.head()#gives in a table format

ValueError: 'Player Database' is not one of the example datasets.

In [21]:
print(np.__version__)

1.21.5

In [25]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1 to 5
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Player_Name  4 non-null      object
 1   Score        4 non-null      int64
 2   No.of 100    4 non-null      int64
 3   No.of 50     4 non-null      int64
 4   No.of 0      4 non-null      int64
dtypes: int64(4), object(1)
memory usage: 192.0+ bytes
None
         Score  No.of 100  No.of 50  No.of 0
count      4.0        4.0       4.0      4.0
mean   20000.0       85.0      63.0     10.0
std        0.0        0.0       0.0      0.0
min    20000.0       85.0      63.0     10.0
25%    20000.0       85.0      63.0     10.0
50%    20000.0       85.0      63.0     10.0
75%    20000.0       85.0      63.0     10.0
max    20000.0       85.0      63.0     10.0

In [28]:
ages=df['age'].dropna().values#extracting age column
print(np.mean(ages))#mean age
print(np.median(ages))#Median age
print(std(ages))#Standard deviation

KeyError: 'age'